body {
  background: url(fon.jpg);
}
header {
  border: 3px solid black;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 160px;
}
.num{
  text-decoration: none;
  color: white;
}
.tele {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 45px 10px;
  border: 3px solid #FD7C6E;
  border-radius: 12px;
}
.logo{
  color: #E32636;
  text-align: center;
  font-size: 60px;
  padding: 20px;
  font-family: Arial Black;
}
.zayv {
  display:flex;
  align-items: center;
  border:  2px solid blue;
  background-color: blue;
  height: 10px;
  padding: 10px;
  margin: 45px;
  border-radius: 12px;
}
.fr{
  text-decoration: none;
  color: #FDE910;
  font-size: 22px;
}
.navi{
  display: flex;
  border: solid 3px #CD5C5C;
  background-color: #CD5C5C;
  justify-content: space-around;
  font-weight: bold;
  padding: 5px;
}
a {
  text-decoration: none;
  color: black;
}
.dd {
  border: 3px solid;
  background-color: white;
  padding: 15px;
}
.f1 {
  font-size: 20px;
  border: 3px solid gray;
  background-color: gray;
}
.f2{
  color: gold;
}
.f3{
  display: flex;
  justify-content: flex-end;
}
.f4{
  display: flex;
  justify-content: space-between;
}
.f5 {
 color: #CCCCFF;
}
.t1 {
  border: solid 4px black;
  background-color: white;
  height: 300px;
  display: flex;
  font-size: 20px;
}
.sp{
  font-weight: bold;
  font-size: 30px;
  color: #62639B;
  font-family: verdana;
}
.im{
  float: right;
}

.text {
  font-family: Arial ;
}
.t2{
  border: solid 4px black;
background-color: white;
height: 300px;
display: flex;
font-size: 20px;
flex-direction: row-reverse;
}
.text2{
  font-family:Times;
  font-size: 18px;
  color: white;
  background-color: #1E90FF;
}
.forma {
  display: flex;
  justify-content: center;
  border: 3px solid gray;
  background-color: #FF4040;
  border-radius: 8px;
}
