*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
  }
body {
    background-color: #c7ecaf;
    font-family: Arial;
    color: white;
    font-size: 20px;
    background-image: url(images/loza_v.png);
    background-size: 300px;
    background-position: 100%;
    background-repeat: repeat-y;
}
header{
    min-height: 100px;
    background: linear-gradient(180deg, #6bb18c, #57a079);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 4px 0 rgba(44, 107, 66, 0.342);
}
header p {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}
header p a {
  text-decoration: none;
  color: #62d0f1;
}
.switcher{
    position: absolute;
    visibility: hidden;
    left: -9999px;
  }
  label{
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  .head {
    list-style-type: none;
    display: flex;
  }
  nav ul li a {
    display: block;
    text-transform: uppercase;
    color: #96dbbb;
    text-decoration: none;
    padding: 0 15px;
    transition: .4s;
  }
  nav ul li a:hover{
      color: #ecdaaf;
    }
  
  @media screen and (max-width:800px){
  .open,.close{
  display: block;
  max-width:800px;
  }
  .close{
  position: absolute;
  top: 40px;
  right: 40px;
  }
  .switcher:checked ~ nav{
  right: 0;
  }
  nav{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #6bb18c, #3a835c);
  top: 0;
  right: -100%;
  text-align: center;
  padding: 100px 0;
  transition: .7s
  }
  .head{
  flex-direction: column;
  }  
  nav ul li a{
  padding: 20px;
  }     
  nav ul li a:hover{
  background-color: rgba(255,255,255,.03);
  }
}


footer{
  background: linear-gradient(0deg, #6bb18c, #57a079);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}
footer ul.foot{
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-left: 60px;
  font-size: 18px;
}
footer ul.foot li{
  color: #96dbbb;
}
ul.foot li a{
  text-decoration: none;
  color: #96dbbb;
  transition: .4s;
}
ul.foot li a:hover{
  color: #ecdaaf;
}
footer ul.foot1{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 70px;
  padding-right: 50px;
  font-size: 18px;
}
footer ul.foot1 li{
  color: #3fc788;
}
ul.foot1 li a{
  text-decoration: none;
  color: #39eb98;
  transition: .4s;
}
ul.foot1 li a:hover{
  color: #ecdaaf;
}
footer p {
  position: absolute;
  font-size: 15px;
  color: #bdb9b9;
  left: 850px; 
}
footer ul.foot2{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  font-size: 18px;
}
footer ul.foot2 li{
  color: #5adda0;
}
ul.foot2 li a{
  text-decoration: none;
  color: #96dbbb;
  transition: .4s;
}
ul.foot2 li a:hover{
  color: #ecdaaf;
}
.foot2 {
  width: 270px;
}
.in {
  position: relative;
  background-color: #6bb18c;
  width: 100%;
  height: 25px;
}
.in input {
  position: absolute;
  left: 800px;
  color: black;
  width: 160px;
  height: 20px;
  border: #6bb18c solid 1px;
}
.in input:last-child {
  position: absolute;
  left: 960px;
  color: black;
  width: 70px;
  height: 20px;
}
.img {
width: 450px;
height: 400px;

}
.img2 {
  width: 450px;
  height: 400px;
  }
  .img3 {
    width: 450px;
    height: 400px;
    }
    .img4 {
      width: 450px;
height: 400px;   
    }
    .img5 {
      width: 450px;
height: 400px;
    }
    .img6 {
      width: 450px;
height: 400px;
    }
    .img7 {
      width: 450px;
height: 400px;
    }
    .img8 {
      width: 450px;
height: 400px;
    }
    .img9 {
      width: 450px;
height: 400px;
    }
.p1 {
    font-size:20px;
    color: #62d0f1;
  }
  .imgs {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 1500px;
    padding: 10px;
    padding-left: 180px;
    margin: 10px;
  }
  #log {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: black solid 1px;
    margin-left: 700px;
    background-color: white;
    margin-bottom: 10px;
  }
  #log p {
    color: black;
    font-size: 18px;
  }
  #log input {
    color: black;
    background-color: rgb(216, 209, 209);
  }
  #log input:last-child {
    margin-top: 86px;
    width: 100px;
  }
  .p2 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding-left: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .p3{
    color: black;
    font-size: 13px;
    padding-left:650px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .p3 a {
    color: blue;
    text-decoration: none;
  }